@page
@model CS451_Team_Project.Pages.BudgetTrackerModel
@{
    Layout = Layout;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <!--<link rel="stylesheet" href="~/css/dashboard-custom.css"> -->
    <link rel="stylesheet" href="~/css/budgetTracker.css">
</head>

<body>

    <main class="main">
        <div class="container d-flex justify-content-center">
            <section class="charts_transactions_container">
                <div class="col-md-12 col-lg-5" style="width: 500px">
                    <div class="budget_card card">
                        <!-- Chart content -->
                        <div id="carouselFinacialTips" class="carousel slide">
                            <div class="carousel-inner ">
                                <div class="carousel-item active">
                                    <!-- Placeholder for the chart -->
@*                                     <div class="carousel-item active">
                                        <canvas id="myPieChart"></canvas>
                                        <div class="card-body">
                                            <h5 class="card-title budget_title">Budget Chart</h5>
                                        </div>
                                    </div> *@
                                  <div id="budgetChartContainer" class="chart-container">
                                        <img id="budgetChart" src="~/images/budgetChart.png" alt="Budget Chart" />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title budget_title">Budget Chart</h5>
                                    </div>
                                </div>
                                <div class="carousel-item item">
  @*                                   <canvas id="debtPieChart"></canvas>
                                    <div class="card-body">
                                        <h5 class="card-title budget_title">Debt Chart</h5>
                                    </div> *@
                                    <div id="budgetChartContainer" class="chart-container">
                                        <img id="budgetChart" src="~/images/debtChart.png" alt="Budget Chart" />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title budget_title">Debt Chart</h5>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFinacialTips" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselFinacialTips" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container d-flex justify-content-center" style="margin-top: -1.49rem">
            <section class="charts_transactions_container">
                <div class="col-md-12 col-lg-5" style="width: 1000px">
                    <div class="transaction_card card my-4">
                        <!-- Transaction content -->
                        <div class="card-body transaction_card_body">
                            <h5 class="card-title">Transactions</h5>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="transactionSearch" placeholder="Search transactions...">
                            </div>
                            <!-- Transaction form -->
                            <form method="post" id="transactionForm">
                                <div class="row">
                                    <!-- Date input -->
                                    <div class="col-md-3 mb-3">
                                        <label for="transactionDate" class="form-label">Date</label>
                                        <input type="date" class="form-control" id="transactionDate" name="TransactionInput.Date" required>
                                    </div>
                                    <!-- Description input -->
                                    <div class="col-md-3 mb-3">
                                        <label for="transactionDescription" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="transactionDescription" name="TransactionInput.Description" required>
                                    </div>
                                    <!-- Category input -->
                                   <div class="col-md-3 mb-3">
                                       <label for="transactionCategory" class="form-label">Category</label>
                                       <select class="form-select" id="transactionCategory" name="TransactionInput.Category" required>
                                           <option value="" disabled selected>Select a category</option>
                                           <option value="Mortgage">Mortgage</option>
                                           <option value="Utilities">Utilities</option>
                                           <option value="Groceries">Groceries</option>
                                           <option value="Misc">Misc</option>
                                           <option value="Savings">Savings</option>
                                           <option value="Investing">Investing</option>
                                           <option value="Rent">Rent</option>
                                           <option value="Auto Loan">Auto Loan</option>
                                           <option value="Student Loan">Student Loan</option>
                                           <option value="Credit Card">Credit Card</option>
                                           <option value="Bills">Bills</option>
                                           <option value="Transportation">Transportation</option>
                                           <option value="Insurance">Insurance</option>
                                           <option value="Entertainment">Entertatinment</option>
                                           <option value="Personal Loan">Personal Loan</option>
                                           <option value="Medical Debt">Medical Debt</option>
                                           <option value="Business Loan">Business Loan</option>
                                           <option value="Tax Debt">Tax Debt</option>
                                           <option value="Loan">Loan</option>
                                           <option value="Other">Other</option>
                                       </select>
                                   </div>
                                    <!-- Amount input -->
                                    <div class="col-md-3 mb-3">
                                        <label for="transactionAmount" class="form-label">Amount</label>
                                        <input type="number" class="form-control" id="transactionAmount" name="TransactionInput.Amount" required>
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <input type="hidden" name="transactionId" value="add" />
                                        <button type="submit" name="action" value="add" class="btn btn-primary w-100">Add Transaction</button>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive-sm" style="max-height:500px; overflow-x:hidden;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <!-- For Database Connection -->
                                    <tbody>
                                        @foreach (var transaction in Model.Transactions)
                                        {
                                            <tr id="@transaction.UniqueTransactionID">
                                                <td>@transaction.Date.ToString("MM-dd-yyyy")</td>
                                                <td>@transaction.Description</td>
                                                <td>@transaction.Category</td>
                                                <td>@transaction.Amount.ToString("C")</td>
                                                <td>
                                                    <form method="post">
                                                        <input type="hidden" name="transactionId" value="@transaction.UniqueTransactionID" />
                                                        <!-- Submit button with a distinct name for removing -->
                                                        <button type="submit" name="action" value="remove" class="btn btn-danger">X</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
            </section>
        </div>
    </main>

    <script src="~/js/toggle-colors.js"></script>
    <script src="~/js/chart-info.js"></script>
    <script src="~/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#transactionSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
</body>

</html>
