@page
@model CS451_Team_Project.Pages.ProfilePageModel
@{
    Layout = Layout;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/profilePage.css">
</head>
<body>

    <main class="main">
        <section class="profile_page">
            <div class="profile_container container">

                <div class="user_info">
                    <div class="card-group">
                        <!-- Profile Card -->
                        <div class="col-lg-4 col-md-3 col-sm-3 mt-3">
                            <div class="card mb-4 profile_card">
                                <div class="card-body text-center">
                                    <i class="ri-user-3-fill profile_icon selected_icon"></i>
                                    <h5 class="my-3">@Model.FirstName @Model.LastName</h5>
                                    <p class="text-muted mb-1">Full Stack Developer</p>
                                    <p class="text-muted mb-4">Kansas City, MO</p>
                                    <a class="btn btn-primary btn-sm profile_btn" asp-page="ProfileSettings" asp-route-token="@Model.token" asp-route-email="@Model.email">Update Account</a>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <!-- Basic Information -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.FirstName @Model.LastName</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.Email</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">(012) 345-6789</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Mobile</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">(987) 654-3210</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">City</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">Kansas City, MO</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user_charts">
                    <div class="card tracking_card col-lg-11 col-md-5 col-sm-8 mt-3">
                        <!-- Spending Tracking -->
                        <div class="card-body">
                            <div id="carouselTrackers" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">

                                        <!-- Monthly Tracking -->
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Monthly Tracker</th>
                                                    <th scope="col">Totals</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Income Amount</td>
                                                    <td>$3,000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Total Transactions</td>
                                                    <td>$248</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Total Sent to Savings</td>
                                                    <td>$500</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>Total Sent to Investments</td>
                                                    <td>$100</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Quarterly Tracking -->
                                    <div class="carousel-item item">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Quarterly Tracker</th>
                                                    <th scope="col">Totals</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Income Amount</td>
                                                    <td>$12,000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Total Transactions</td>
                                                    <td>$700</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Total Sent to Savings</td>
                                                    <td>$2,000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>Total Sent to Investments</td>
                                                    <td>$500</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Yearly Tracking -->
                                    <div class="carousel-item item">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">YTD Tracker</th>
                                                    <th scope="col">Totals</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Income Amount</td>
                                                    <td>$36,000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Total Transactions</td>
                                                    <td>$2,500</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Total Sent to Savings</td>
                                                    <td>$6,000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>Total Sent to Investments</td>
                                                    <td>$1,200</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTrackers" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselTrackers" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-group">
                        <div class="col-lg-6 col-md-5 col-sm-8 mt-3">
                            <!-- Savings Goals -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card mb-4 mb-md-0">
                                        <div class="card-body" id="insertSavetable">
                                            <p class="mb-4">
                                                <div class="goals_title">Savings</div>
                                            </p>
                                            <p class="mb-1" style="font-size: .77rem;">New Car Fund</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Rainy Day Fund</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 72%" aria-valuenow="72"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Emergency Fund</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Travel Fund</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="55"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Home Down Payment</p>
                                            <div class="progress rounded mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 66%" aria-valuenow="66"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <button class="btn btn-primary btn-sm profile_btn" id="insertSaving">Add</button>
                                            <button class="btn btn-primary btn-sm profile_btn" id="insertSaving">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-5 col-sm-8 mt-3">
                            <!-- Investment Goals -->
                            <div class="col-md-12">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body" id="insertInvesttable">
                                        <p class="mb-4">
                                            <div class="goals_title">Investment</div>
                                        </p>

                                        <p class="mb-1" style="font-size: .77rem;">Traditional Retirement Account Contribution</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Roth Retirement Account Contribution</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="55"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Employee Stock Purchase Plan</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 72%" aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Individual Brokerage Acconut</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <button class="btn btn-primary btn-sm profile_btn" id="insertSaving">Add</button>
                                        <button class="btn btn-primary btn-sm profile_btn" id="insertSaving">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </main>


    <script src="~/js/toggle-colors.js"></script>
    <script src="~/js/toggleColorspt2.js"></script>
    <script src="~/js/profileSettings.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>

</html>


